<!-- Footer -->
<footer class="page-footer font-small footer-top">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-3" align="center">
          <img src="../../../assets/img/1.png" class="img-resize">
          <p class="text-yellow">1. Conheça</p>
          <p class="text-muted">Conheça um dos vendedores, agende um hórario e tire dúvidas relacionadas ao consórcio em uma entrevista.</p>
      </div><!-- /.col-lg-4 -->
    <div class="col-lg-3" align="center">
      <img src="../../../assets/img/3.png" class="img-resize">
      <p class="text-yellow">2. Carta de crédito</p>
      <p class="text-muted">Obtenha uma carta de crédito para realizar seu sonho pelo menor preço do mercado.</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-3" align="center">
    <img src="../../../assets/img/4.png" class="img-resize">
    <p class="text-yellow">3. Rendimento</p>
    <p class="text-muted">Faça seu dinheiro render enquanto paga as parcelas do consórcio, e receba o valor corrigido.</p>
</div><!-- /.col-lg-4 -->
<div class="col-lg-3" align="center">
<img src="../../../assets/img/5.png" class="img-resize">
<p class="text-yellow">4. Realização</p>
<p class="text-muted">Realize o sonho de obter o bem que tanto deseja: Casa própria, Imóvel, Carro e utilitários, Motocicletas.</p>
</div><!-- /.col-lg-4 -->
       
      </div><!-- /.row -->
  
  
  
    </div>



  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->