<div class="jumbotron jumbotron-fluid jumbotron-with-background secao" id="secao-01">
  <div>
      <img src="../../../assets/img/logo23.png">
      <!-- <h1 class="display-4">Pacaembu</h1>
         <p class="lead">Consultoria para consórcio Remaza</p> -->
      <hr class="my-4">
      <p>Clique no botão abaixo, preencha o formulário de contato e conheça diversas vantagens que o nosso consórcio oferece!</p>
      <p class="lead" style="padding-top: 5%;">
        <a class="btn btn-primary btn-lg" href="#" role="button" (click)="onScroll()">Conheça</a>
      </p>
  </div>
</div>
<div class="container-fluid secao" id="secao-02">
  <app-formulario id="oi"></app-formulario>
</div>